.card-ava {
  width: 32px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -12px;
}
.success-story-expand {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.dia-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.card-text {
  text-align: left;
  & span {
    padding: 0px 4px;
    border-radius: 8px;
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
  }
}
.dia-chartbar {
  margin: 1px;
  border-radius: 4px;
  width: 8px;
  content: "";
}
