@import "../app/app-style.scss";

textarea {
  min-width: 180px;
  resize: vertical;
  margin: $small 0;
  width: 90%;
  border-radius: $xsmall;
  padding: $small;
  &:focus {
    outline: none;
    border-width: 3px;
  }
}
