@import "../app/app-style.scss";

.structure-group-title {
  border-radius: $small;
  padding: $small;
  margin-top: 0;
  min-height: 28px;
  min-width: 180px;
  align-self: flex-start;
}
.structure-card {
  display: flex;
  align-content: flex-start;
  transition: background-color 0.6s;
}
.topic-container {
  text-align: left;
  margin-left: 20px;
  div {
    min-height: 28px;
    padding-left: 8px;
    margin-bottom: 4px;
  }
}

.app-color-select {
  min-width: 36px;
  min-height: 32px;
  border-radius: 4px;
  cursor: pointer;
  &:after {
    content: "";
    width: 0px;
    height: 1px;
    border: 8px solid transparent;
    border-top: 8px solid $main-color;
    transform: translate(10px, 12px);
  }
  &:hover {
    box-shadow: 3px 3px 10px $shadow-color;
  }
}

.color-container {
  position: absolute;
  z-index: 100;
  display: flex;
  min-width: 168px;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 100px;
  background-color: $main-color;
  padding: 10px;
  border-radius: 8px;
  @include shade();
  top: -30px;
  transform-origin: left;
  cursor: pointer;
  span {
    margin: 0;
    padding: 0;
    flex-basis: 25%;
    min-width: 20px;
    min-height: 30px;
    content: "";
    transition: scale 0.5s;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
.done-card {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  p {
    margin: 0;
    border-radius: 8px 0 0 8px;
    color: white;
    padding: 10px;
    min-width: 200px;
    flex-grow: 1;
  }
}
.done-bar {
  content: "";
  border-radius: 4px;
  height: 10px;
  margin-left: 5px;
  color: steelblue;
}
.tab-active {
  text-decoration: underline;
  margin: 0 20px;
  font-weight: 400;
}
.tab-inactive {
  color: cornflowerblue;
  font-weight: 400;
  margin: 0 20px;
  cursor: pointer;
  &:hover {
    color: royalblue;
    text-decoration: underline;
  }
}
