.page-container {
  width: 96%;
  position: relative;
  margin: 0;
  padding: 10px 2%;
  background-color: whitesmoke;
  h2 {
    font-weight: 100;
    width: 100%;
    color: grey;
    text-align: left;
    text-transform: uppercase;
    &:after {
      display: block;
      content: "";
      border-bottom: 1px solid grey;
    }
  }
  & .page-header-right {
    position: absolute;
    top: 1%;
    right: 2%;
  }
}
