.text-container {
  position: relative;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}
.text-container,
.under-div,
.text-edit {
  width: 600px;
  height: 100px;
  margin: 0;
  font-family: "Roboto";
  font-size: 1rem;
  word-wrap: none;
  word-break: none;
}
.under-div {
  position: absolute;
  left: 0;
  top: 0;
}
.marked-div {
  color: transparent;
  opacity: 0.3;
  text-align: left;
  letter-spacing: 0.3px;
  word-wrap: none;
  word-break: none;
}
.text-edit {
  letter-spacing: 0.3px;
  position: absolute;
  padding: 0;
  overflow: auto;
  left: 0;
  top: 0;
  border: none;
  outline: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  resize: none;
}
mark {
  border-radius: 3px;
  color: transparent;
  background-color: #b1d5e5;
}
.pop-up-mark {
  opacity: 0;
  min-width: 200px;
  min-height: 60px;
  background-color: #fff4b7;
  border-radius: 8px;
  display: block;
  position: absolute;
  top: -70px;
  left: 200px;
  transition: opacity 0.3s 0.2s;
  & .close-chip {
    position: relative;
    border-radius: 12px;
    padding: 6px;
    // top: -15px;
    // right: -15px;
    // display: none;
    float: right;
    margin-right: 10px;
  }
}

::selection {
  background: #fff4b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
