.category_chip {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  & span {
    font-size: 1rem;
    margin-left: 10;
    text-transform: uppercase;
    cursor: pointer;
  }
}
.add_box {
  margin: auto;
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
